body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

aside {
  width: 20%;
}

.content {
  width: 80%;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  aside {
    width: 100%;
    flex-direction: row;
  }

  .content {
    width: 100%;
  }

  .logo {
    width: 20%;
    display: inline-flex;
  }

  .nav {
    display: inline-flex;
    flex-direction: row;
  }

  .nav li {
    display: inline-flex;
  }

  .tweet, .friends {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  aside {
    display: flex;
    flex-direction: column;
  }

  .logo, .nav {
    display: flex;
  }

  .logo {
    order: 2;
  }

  .nav li i {
    display: none;
  }
}

